<div class="home-container">
  <header class="hero-section">
    <h1>TES PRATIQUES ALIMENTAIRES AU LYCÉE</h1>

    <div class="hero-image">
      <img src="assets/plateau.png" alt="Illustration plateau repas" />
    </div>

    <p class="subtitle">
      Synthèse des sondages réalisés sur <strong>146 élèves</strong><br />
      au sein du lycée Charlemagne
    </p>
  </header>

  <section class="objectif-box">
    <h2>Objectif</h2>
    <p>
      Présenter des tendances robustes à partir des réponses au sondage,
      distinguer ce qui relève des pratiques et ce qui relève des repères de
      qualité, et proposer des pistes d’action concrètes pour l’établissement.
    </p>
  </section>

  <hr class="separator" />

  <div class="menu-grid">
    <div class="card" routerLink="/methodologie">
      <h3>1. Repères méthodologiques</h3>
    </div>

    <div class="card" routerLink="/le-self">
      <h3>2. Le Self</h3>
    </div>

    <div class="card" routerLink="/alternatives">
      <h3>3. Alternatives</h3>
    </div>

    <div class="card" routerLink="/qualite">
      <h3>4. Qualité & Labels</h3>
    </div>

    <div class="card" routerLink="/profils">
      <h3>5. Profils</h3>
    </div>

    <div class="card" routerLink="/interpretation">
      <h3>6. Interprétation</h3>
    </div>

    <div class="card" routerLink="/synthese">
      <h3>7. Synthèse</h3>
    </div>
  </div>
</div>
